name: Rebuild GH-Pages Index

on: [workflow_dispatch]

jobs:
  rebuild:
    name: Deploy rebuilt gh-pages index by forcely updated
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.author.name, 'github-actions')"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - uses: volta-cli/action@v4.0.1
      - name: Install Toolchain via volta
        run: bash .github/.initVolta.sh

      - name: Checkout gh-pages branch
        uses: actions/checkout@v3
        with:
          ref: 'gh-pages'
          path: dist

      - name: Initialize npm cache
        uses: actions/cache@v3.3.1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node-

      - name: NPM CI
        run: npm ci --no-audit

      - name: Build to JS
        run: npm run build

      - name: Generate Index list
        run: npm run start:gen

      - name: Archive dist artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dist-archive
          path: |
            dist/**/*.html
            !dist/.gitkeep
            !dist/404.html

      - name: Deploy to gh-pages branch (Backup, Save)
        uses: JamesIves/github-pages-deploy-action@v4.4.3
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: dist # The folder the action should deploy.
          clean: false
          single-commit: false
          token: ${{ secrets.BOT_PA_TOKEN }}
          git-config-name: 'github-actions[bot]'
          git-config-email: '41898282+github-actions[bot]@users.noreply.github.com'

      - name: Deploy to surge.sh (Prod)
        uses: dswistowski/surge-sh-action@v1.0.2
        with:
          domain: '${{ secrets.surge_domain }}'
          project: './dist'
          login: ${{ secrets.surge_login }}
          token: ${{ secrets.surge_token }}
